body {
    font-family: 'sans-serif';
    font-size: 100%;

}

h1 {
    width: 100%;
    margin: 0 -50%;
    text-align: center;
    font-size: 8rem;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

.spinning {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    animation: spin 5s linear infinite;
    animation-direction: alternate-reverse;
}