body {
    font-family: monospace;
}

h1 {
    font-size: 400px;
}

@keyframes colourCycling {
    0% {color:red; }
    25% {color:yellow; }
    50% {color:blue; }
    100% {color:green; }
}

.colourCycling {
    padding: 50px;
    animation: colourCycling 2s alternate-reverse infinite;
}

